/* This stylesheet handles all css for the navigation bar*/
.navbar{
  background-color: inherit;

}
ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #330000;
  align-items: stretch;
}
li{
  float: left;
  font-size: 20pt;
  font-weight: bold;
}
li a:hover{
  background-color: #FFF;
  color: #000;
}
li a{
  display: block;
  background-color: #330000;
  color: #CDB99C;
  padding: 10px 20px;
}
.active{
  background-color: #CDB99C;
  color: #FFF;
}
