/* This is a CSS comment. Notice that CSS comments are
enclosed by different characters than HTML comments. */

/* CSS allows you to give your page style (colors, shapes, fonts, etc.)
You can apply CSS elements to entire HTML classes. Review Lesson 1.3
if you need a refresher about how to do this. */

*{
  background-color: #FFD700;
  /*outline: 5px solid red;*/
  font-family: sans-serif;
  margin: 0;
}
.header{
  background-color: #007A46;
  /*border-radius: 40px;*/
  padding: 5%;
  text-align: center;
  font-size: 200%;
  color: #FFF;
}

.section{
  display: flex;
  margin: 3% 5% 5%;
  border: 5px solid #003F73;
  border-radius: 10px;
}
.section div{
  flex-basis: 100%;
  padding: 10px;
  background-color: #003F73;
}
.description{
    text-align: justify;
}

/* The following contains styles specific to the home page*/
.imageCollage{
  display: flex;
  justify-content: center;
  margin: 30px;
}
.imageStack{
  margin: 0;
}
.homeImage{
  opacity: 0.8;
  height: 270px;
}
.homeImage:hover{
  opacity: 1;
}

/* tag sytles */
a{
  text-decoration: none;
}

h1{
  background-color: inherit;
  font-weight: bolder;
  margin: 0;
}
h2{
  background: #00182C;
  padding: 10px;
  margin: 0 0 10px 0;
  color: #FFF;
  text-align: center;
}
/*home page headers*/
h3{
  margin: 0;
  background-color: #00182C;
  padding: 2px 20px;
  font-size: 200%;
  color: #FFF;
}
p{
  background-color: inherit;
  color: #90C0DF;
}
