/* This stylesheet handles all css for the navigation bar
   One exception is some ul is in main css*/
.navbar{
  background-color: inherit;

}
#nav{
  background-color: #330000;
  overflow: hidden;
  align-items: stretch;
}
#nav li {
  float: left;
  font-size: 20pt;
  font-weight: bold;
}
#nav li a:hover{
  background-color: #FFF;
  color: #000;
}
#nav li a{
  display: block;
  background-color: #330000;
  color: #CDB99C;
  padding: 10px 20px;
}
#nav .active{
  background-color: #e5dbcc;
  color: #;
}
